.photo-upload-container {
  margin: 20px 0;
}

.photo-upload-container h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.photo-upload-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-upload-box {
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease;
  overflow: hidden; /* Ensures the image doesn't overflow the box */
}

.photo-upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the box */
  display: none; /* Hidden by default */
}

.photo-upload-box img.uploaded {
  display: block; /* Show image when uploaded */
}

.photo-upload-box .delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 1;
  text-align: center;
  display: none; /* Standardmäßig ausgeblendet */
}

.photo-upload-box img.uploaded {
  display: block;
}

.photo-upload-box:hover {
  border-color: #ff6600;
}

.photo-upload-box:hover .delete-icon {
  display: none;
}

.upload-box-content {
  text-align: center;
}

.upload-box-content span {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.photo-upload-box input[type="file"] {
  display: none;
}

.optional-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.optional-button {
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: white;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.optional-button:hover {
  background-color: #ff6600;
  color: #333;
}
/* price subtitle */

.third-step-subtitle {
  display: block;
  margin-bottom: 10px;
  margin-top: -5px;
  font-size: 14px;
  color: #666; /* Optional: Du kannst die Farbe nach Bedarf anpassen */
}

.phone-input-wrapper {
  margin-bottom: 20px;
}

.phone-input-wrapper label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.phone-input-wrapper small {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666;
}

.phone-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  height: 48px;
  overflow: hidden;
}

.country-code {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #eee; /* Grauer Hintergrund für den Ländercode */
}

.country-code .flag {
  margin-right: 5px;
}

.phone-input-container input[type="text"] {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  color: #333;
  outline: none;
  border-left: 1px solid #ccc; /* Optional: Trennlinie zwischen Ländercode und Telefonnummer */
}

.phone-input-container input[type="text"]:focus {
  box-shadow: none;
}

.section-with-divider {
  padding: 40px 0; /* Abstand zwischen Inhalt und Dividern */
}

.section-divider {
  border-top: 10px solid #f7f7f7;
  margin: 20px 0; /* Abstand zwischen Divider und Inhalt */
}

.section-with-divider h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-image {
  width: 100%;
  height: 100%;
}

.phone-input {
  width: 100%;
  padding-right: 40px; /* Platz für das "km" */
  font-size: 16px;
  padding: 12px 15px;
  background-color: #ededed !important;
  border: none;
  height: 100%;
  outline: none; /* Removes the blue outline */
}

.phone-input:focus {
  outline: none; /* Ensures that the blue border is removed when focused */
}

/* Bei kleineren Bildschirmen umbricht es ordentlich */
@media (max-width: 768px) {
  .third-page-wrapper {
    margin-top: 90px;
  }
}
