.home-container {
  display: flex;
  flex-direction: column;
}

/* Hero Section */
@keyframes sway {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .slogan-box {
    display: none;
  }
}

.slogan-box {
  background-color: #ff6600;
  color: #fff;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 280px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 5%;
  transform: rotate(-5deg);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: sway 2s infinite ease-in-out;
}

.slogan-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border-width: 15px 0 15px 20px;
  border-style: solid;
  border-color: transparent transparent transparent #ff6600;
  display: block;
  width: 0;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 42rem;
  border-radius: 8px;
  border: 1px solid #c6c6d8;
}

.hero {
  background: url("../../assets/Background.jpg") no-repeat center center; /* Pfad zum Bild */
  background-size: cover; /* Bild füllt den Bereich proportional */
  padding: 40px 0;
  color: #333;
  text-align: center;
  position: relative;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #333;
}

#dynamic-text {
  color: #ff6600; /* Highlight-Farbe für den dynamischen Text */
}

.hero p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #333;
}

.hero .hero-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #ffffff; /* Neue Farbe nur für diesen Untertitel */
  font-weight: bold; /* Optional: Macht den Text fett */
  text-align: center; /* Optional: Zentriert den Text */
}

.hero form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ändere auf flex-start, um Text und Inputs links zu beginnen */
  margin-top: 20px;
  text-align: left;
  max-width: 500px;
  margin-left: auto; /* Zentriert das Formular horizontal */
  margin-right: auto; /* Zentriert das Formular horizontal */
}

.hero label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.hero input[type="text"],
.hero select {
  padding: 14px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
  display: block;
  font-size: 16px;
  margin-left: 0; /* Sicherstellen, dass es links ausgerichtet ist */
}

.submit {
  padding: 14px 16px;
  border: 1px solid #e04b00;
  height: 51px;
  background-color: #ff6600;
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-decoration: none; /* Remove underline or any text decoration */

  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  min-width: 290px;
  max-width: 500px;
  font-size: 18px;
  margin-left: auto; /* Zentriere den Button */
  margin-right: auto; /* Zentriere den Button */
}

.disabled {
  background-color: #e5e5e5 !important;
  color: #ababab !;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 0px;
}

.input-wrapper select,
.input-wrapper input[type="text"] {
  width: 100%;
  padding-right: 40px; /* Platz für das Icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
}

.input-wrapper.valid select,
.input-wrapper.valid input[type="text"] {
  border-color: #00c760;
  background-image: none; /* Entfernt den Dropdown-Pfeil */
}

.check-icon {
  position: absolute;
  right: 10px;
  top: 74%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: none;
}

.input-wrapper.valid .check-icon {
  display: block;
}

/* Stile für das Select-Feld */
.hero select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.362" height="292.362" viewBox="0 0 292.362 292.362"><path fill="%23333" d="M287.94 69.242L277.004 58.305c-2.67-2.668-6.083-4.004-10.14-4.004s-7.471 1.336-10.139 4.004L146.181 168.854 35.637 58.305c-2.662-2.668-6.083-4.004-10.139-4.004s-7.471 1.336-10.139 4.004L4.422 69.242c-2.662 2.662-4.004 6.084-4.004 10.139 0 4.058 1.342 7.471 4.004 10.139l131.4 131.399c2.674 2.674 6.089 4.009 10.143 4.009 4.057 0 7.471-1.336 10.139-4.009l131.399-131.399c2.662-2.668 4.004-6.081 4.004-10.139-.002-4.055-1.344-7.478-4.006-10.139z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  font-size: 16px;
}

.hero select.hide-arrow {
  background-image: none;
}

.hero select option {
  background-color: #f8f9fa;
  color: #333;
}

/* Features Section */
.features {
  max-width: 1200px; /* Dies kannst du nach Bedarf anpassen */
  margin: 0 auto; /* Zentriert den Container */
  padding: 0 15px; /* Fügt innen Abstände hinzu */
  background-color: #edeef0; /* Heller Hintergrund für Features */
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.features .feature {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff; /* Weißer Hintergrund */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features .feature img.feature-image {
  width: 30px; /* Größe des Bildes anpassen */
  margin-bottom: -10px;
}

.features .feature h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #1e1f24; /* Schwarze Farbe für Titel */
}

.features .feature p {
  color: #666;
  margin-top: -5px;
}

/* So funktioniert's - H2 Styling */
.how-it-works {
  padding: 20px 20px;
  background-color: #edeef0;
}

.how-it-works h2 {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
  position: relative;
  margin-top: 20px;
}

.how-it-works h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff6600;
  margin: 10px auto 0;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 60px; /* Passt den Abstand von links an */
}

.step-number {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #ff6600;
  color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0; /* Positioniert den Kreis links */
}

.step-content {
  flex-grow: 1;
  padding-left: 20px;
}

.step-content h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.step-content p {
  font-size: 14px;
  color: #333;
}

.steps:before {
  content: "";
  position: absolute;
  left: 18px; /* Positioniert die Linie */
  top: 25px; /* Startet die Linie etwas weiter unten, um die Linie oberhalb von 1 zu entfernen */
  width: 2px;
  height: calc(
    100% - 60px
  ); /* Beendet die Linie etwas früher, um die Linie unterhalb von 4 zu entfernen */
  background-color: #000000;
}

.cta-button {
  text-align: center;
  margin-top: 40px;
}

.cta-button button {
  background-color: #ff6600;
  color: #ffffff;
  border: 1px solid #e04b00;
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 290px;
  max-width: 500px;
}

.cta-button button:hover {
  background-color: #ff6600;
}

/* warum wir */

.why-sell {
  max-width: 1200px; /* Dies kannst du nach Bedarf anpassen */
  margin: 0 auto; /* Zentriert den Container */
  padding: 0 15px; /* Fügt innen Abstände hinzu */
  padding: 20px 0;
  background-color: #edeef0; /* Leichter Hintergrund */
}

.why-sell h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
  text-align: center; /* Überschrift bleibt zentriert */
  margin-top: 20px;
}

.why-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.why-item {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Links ausrichten */
  transition: transform 0.3s ease; /* Hover-Effekt */
}

.why-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-item .why-content {
  text-align: left; /* Texte linksbündig ausrichten */
  padding: 10px 0;
}

.why-item h3 {
  margin: 20px 0 10px;
  font-size: 15px;
  color: #333;
}

.why-item p {
  font-size: 14px;
  color: #666;
}

/* Hover-Effekt: Bild hebt sich an */
.why-item:hover img {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Bei kleineren Bildschirmen umbricht es ordentlich */
@media (max-width: 768px) {
  .why-grid {
    flex-direction: column;
  }

  .why-item {
    max-width: 100%;
  }
}

/* FAQ Section */
/* FAQ Section */
.faq {
  background-color: #edeef0;
  padding: 20px 0;
  margin-bottom: 40px;
}

/* Container für maximale Breite und zentrierte Inhalte */
.faq .container {
  max-width: 1200px; /* Passe dies an, um die gewünschte Breite zu steuern */
  margin: 0 auto; /* Zentriert den Container horizontal */
  padding: 0 20px; /* Etwas Pufferplatz am Rand hinzufügen */
}

.faq h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 40px;
  margin-top: 20px;
}

.faq p {
  font-size: 16px;
  color: #666;
  text-align: left;
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.faq-question {
  background-color: transparent;
  border: none;
  padding: 15px 0;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question::after {
  content: "\f078"; /* FontAwesome down arrow */
  font-family: "FontAwesome";
  font-size: 1em;
  color: #333;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, padding 0.2s ease;
  padding: 0 0;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px 0;
  transition: max-height 0.2s ease, padding 0.2s ease;
}

.faq-item.active .faq-question::after {
  content: "\f077"; /* FontAwesome up arrow */
}

.form-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
