.thank-you-message,
.thank-you-contact-section {
  background-color: #edeef0; /* Stelle sicher, dass der Hintergrund einheitlich ist */
}

.thank-you-message {
  padding: 50px 0;
  background-color: #edeef0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: -40px;
}

.thank-you-message h1 {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.thank-you-message p {
  font-size: 18px;
  color: #666;
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.thank-you-check i {
  font-size: 60px;
  margin-top: 20px;
  color: #27ae60;
}

/* Contact Section Styles */
.thank-you-contact-section {
  padding: 20px 0;
  background-color: #edeef0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.thank-you-contact-section h2 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.thank-you-contact-section p {
  font-size: 18px;
  color: #666;
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.thank-you-contact-options {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.thank-you-contact-option {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 40px;
}

.thank-you-contact-icon {
  font-size: 40px;
  color: #ff6600;
  margin-bottom: 20px;
}

.thank-you-contact-option h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.thank-you-contact-option p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.thank-you-contact-btn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Removes the underline */
  display: inline-block; /* Ensures the anchor behaves like a button */
  text-align: center; /* Center the text in the button */
  min-width: 200px; /* Ensure both buttons have the same minimum width */
  line-height: 1.5em; /* Ensure proper vertical alignment */
}

.thank-you-contact-btn:hover {
  background-color: #ff6600;
}

/* Für kleinere Bildschirme (Mobilgeräte) */
@media (max-width: 768px) {
  .thank-you-container {
    margin-top: 70px;
  }

  .thank-you-message h1,
  .thank-you-contact-section h2 {
    font-size: 28px;
  }

  .thank-you-message {
    padding-left: 20px;
    padding-right: 20px;
  }

  .thank-you-contact-section p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
