body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0px;
  padding: 0px;
}

.section-with-divider {
  padding: 40px 0; /* Abstand zwischen Inhalt und Dividern */
}

.section-divider {
  border-top: 10px solid #f7f7f7;
  margin: 20px 0; /* Abstand zwischen Divider und Inhalt */
}

.section-with-divider h2 {
  text-align: center;
}
