body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0px;
  padding: 0px;
}


.section-with-divider {
  padding: 40px 0; /* Abstand zwischen Inhalt und Dividern */
}

.section-divider {
  border-top: 10px solid #f7f7f7;
  margin: 20px 0; /* Abstand zwischen Divider und Inhalt */
}

.section-with-divider h2 {
  text-align: center;

.input-wrapper {
  position: relative; /* Set the parent container to relative positioning */
}

.disabled {
  background-color: #e5e5e5 !important;
  color: #ababab !important;
  border: 1px solid transparent !important;
}

.disabled:hover {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: black;
}

.filtered-brands-list {
  position: absolute; /* Position the list absolutely within the parent */

  top: 100%; /* Place it directly below the input field */
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's on top of other elements */
  background-color: white; /* Ensure the background is visible */
  border: 1px solid #ccc; /* Optional: add a border */
  max-height: 200px; /* Optional: limit the height */
  overflow-y: auto; /* Add scrolling if the list is too long */
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.filtered-brand-item {
  padding: 8px; /* Add some padding to each item */
  cursor: pointer;
  list-style: none;
}

.filtered-brand-item:hover {
  background-color: #f0f0f0; /* Add a hover effect */
}

/* Apply a general transition to all elements */
.transition {
  transition: all 0.5s ease;

}
